body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5F5F5;
    justify-content: center;
}

html, body {
    height: 100%;
}

.form-container { 
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: #E2E2E2;
    border-radius: 15px;
}

.titulo{
      color: red;
      font-weight: bold;
}

.form-check-input{
    float: none !important;
}

.form-login button{
    margin: 20px 0;
    width: 100%;
}

h3{
    margin-bottom: 20px;
}

.form-check{
    margin-top: 20px;
}

.registred{
    color: lightslategray;
    font-size: small;
    margin: 0;
}

.error-messange{
    color: red;
}

.row{
    margin-top: 25px;
}

img{
    height: 100px;
    width: auto;
}